.line_container {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 10px;
    margin-top: 0.5em;
}

.line_item_wrapper {
    position: relative;
    width: 100%;
    height: 1px;
    border-radius: 10px;
    background-color: black;
}

.line_item {
    position: absolute;
    height: 1px;
    border-radius: 10px;
    background-color: green;
    transform: translateX(100%);
    transition-duration: 4s;

    &.active {
        transform: translateX(0);
        transition-duration: 4s;
        background-color: blueviolet
    }
}

// .line_item_active {
//     position: absolute;
//     height: 1px;
//     border-radius: 10px;
//     background-color: green;
//     transform: translateX(0);
//     transition-duration: 6s;
//     // animation: progress 4s infinite linear;
// }

@keyframes progress {
        0%{
            width: 0%;
        }
        25%{
            width: 25%;
        }
        50%{
            width: 50%;
        }
        75%{
            width: 75%;
        }
        100%{
            width: 100%;
        }
    };